html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  background: #111;
  color: #888;
  font-family: sans-serif;
}

button {
  background: transparent;
  border: 0;
  color: white;
  font-weight: normal;
  padding: 8px;
}