html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  background: #111;
  color: #888;
  font-family: system-ui;
}

a,
a:visited {
  text-decoration: none;
}

* {
  /* disable text select */
  user-select: none;

  /* disable callout, image save panel (popup) */
  -webkit-touch-callout: none;

  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
}
